<div class="wrapper">
    <h2 class="page-header">Reset Password</h2>
    <form>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*New password :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="resetPassword.password" class="form-control" placeholder="Enter new password" type="password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*Retype password :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="resetPassword.password2" class="form-control" placeholder="Retype new password" type="password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-panel">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="resetPassword.reset()">Reset</button>
                    <a class="btn btn-danger" href="#/admin/user-management">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>