<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>HelpDesk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  </head>
  <body ng-app="ticketSystem" ng-controller="MainCtrl" ng-init="init()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="ticket.my-tickets">HelpDesk</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul ng-show="isAuthenticated()" class="nav navbar-nav">
          <li><a ui-sref="ticket.my-tickets"><i class="fa fa-lg fa-dashboard"></i> Tickets</a></li>
          <li><a href="#/ticket/new"><i class="fa fa-lg fa-ticket"></i> New Ticket</a></li>
        </ul>
        <ul ng-show="isAuthenticated()" class="nav navbar-nav navbar-right" style="">
          <li class="dropdown" ng-if="isAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-gear"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#/admin/user-management"><i class="fa fa-users"></i> User management</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-globe"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ng-click="getProfile()"><i class="fa fa-user"></i> {{getUser().username}}</a>
                <a ng-click="logout()"><i class="fa fa-sign-out"></i> Log Off</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="">
    <yg-modal></yg-modal>
    <yg-notification></yg-notification>
    <div ui-view=""></div>
  </div>
  <script src="/javascripts/dependencies.min.js"></script>
  <script src="/javascripts/main.min.js"></script>
  </body>
</html>