<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auth Redirect</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    if (window.opener) {

        window.opener.focus();

        var error = '<%= error %>';
        var userString = '<%- JSON.stringify(user) %>';
        var isActive = '<%= isActive %>' === 'true' ? true : false;
        userString = userString.substring(1,userString.length - 1);
        var user = JSON.parse(userString);
        if (window.opener.app &&
                window.opener.app.auth) {

            window.opener.app.auth(error, user, isActive);
        }
    }
    window.close();
</script>
</body>
</html>