<div class="container">
    <% if(errors) {%>
        <div class="alert alert-danger">
            <ul>
            <% for(var i=0; i<errors.length; i++) {%>
                <li><%= errors[i].msg %></li>
            <% } %>
            </ul>
        </div>
    <% } %>
    <h2 class="page-header">Register User </h2>
    <form method="post" action="/users/register">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*First Name :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="firstname" class="form-control" placeholder="Enter first name" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*Last Name :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="lastname" class="form-control" placeholder="Enter last name" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*Emaid ID:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="Enter email id" type="email"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*Username:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="username" class="form-control" placeholder="Enter username" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*Password :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="password" class="form-control" placeholder="Enter password" type="password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">*Re-enter password:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input name="password2" class="form-control" placeholder="Re-enter password" type="password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-panel">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" type="submit">Register</button>
                    <a class="btn btn-danger" href="login">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>