h1, h2, h3, h4, h5, h6
{
  font-family: 'Open Sans' , "Helvetica Neue" , Helvetica, Arial, sans-serif;
}
p, div
{
  font-family: 'Open Sans' , "Helvetica Neue" , Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}
.alert.alert-default{
  background-color: #f3f3f3;
  overflow:auto;
}

#yag table{
  table-layout: fixed
}

#yag table td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ta-editor.form-control.texteditor-height, .ta-scroll-window.form-control.texteditor-height  {
  height: 220px;
  min-height: 200px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.form-control.texteditor-height > .ta-bind {
  min-height: 200px;
  padding: 6px 12px;
}

.login{
  margin:auto;
  max-width: 380px;
  margin-top:50px;
  margin-bottom:10px;
}

.center{
  margin:auto;
}

.button-panel{
  margin-top:20px;
}

.login.button-panel button{
  width: inherit;
}

#yag tr{
  cursor: pointer;
}

.login.button-panel button{
  margin: 5px 0;
}

.login-thumbnail{
  margin-bottom: 12px;
}

.login-thumbnail img{
  margin: 0 auto;
  border-radius: 50%;
}

.clearfix:after,.clearfix:before{
  content: '';
  display:table;
}

.clearfix:after{
  clear:both;
}
