@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body
{
  font-family: 'Source Sans Pro', sans-serif; 
  background-color: #f2f5f7;
  font-size: 14px;
}

.navbar{
  margin-bottom: 0;
}

a {
  cursor: pointer;
}
.alert.alert-default{
  background-color: #f3f3f3;
  overflow:auto;
}

#yag table{
  table-layout: fixed
}

#yag table td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ta-editor.form-control.texteditor-height, .ta-scroll-window.form-control.texteditor-height  {
  height: 220px;
  min-height: 200px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.form-control.texteditor-height > .ta-bind {
  min-height: 200px;
  padding: 6px 12px;
}

.center{
  margin:auto;
}

.button-panel{
  margin-top:20px;
}


#yag tr{
  cursor: pointer;
}

.clearfix:after,.clearfix:before{
  content: '';
  display:table;
}

.clearfix:after{
  clear:both;
}


@media screen and (max-width: 400px){
  .container{
    padding: 0px 0px;
  }

  .login{
    max-width: 280px;
  }

  .login button {
    padding: 10px;
    font-size: 1em;
  }
}



.loading{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 9999;
  top: 0;
  left: 0;
}

.loading:after{
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/loading.gif);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 15%;
  height: 15%;
}

.lbl{
  font-size: 0.35em;
  padding: 0.4em;
  font-weight: 600;
  color: white;
  border-radius: 0.5em;
  display: inline-block;
  transform: translateY(-25%);
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.5);
}

.lbl-success{
  background-color: #5cb85c;
}

.lbl-warning{
  background-color: #f0ad4e;
}

.lbl-danger{
  background-color: #d9534f;
}

.lbl-info{
  background-color: #5bc0de;
}

.page-heading{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.sub-heading{
  margin: 20px 0 30px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.form-row{
  margin-bottom: 15px;
}

.comments-panel{
  max-height: 500px;
  overflow-y: auto;
}

.content{
  width: 80%;
  float: right;
  height: 100%;
  padding: 0 30px;
}