$nav-color: #444;
$time: 500ms;
$delay: 100ms;
$red: #d9534f;
$maincolor: #d9534f;


*{
  box-sizing: border-box;
}

.mainnav{
  top: 0;
  float: left;
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: $nav-color;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  transition: all $time ease-in-out;
  .site-logo{
    padding-bottom: 5em;
    a{
      font-size: 1.8em;
      color: $maincolor;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
  section{
    margin-bottom: 20px;
    .heading{
      color: $red;
      font-weight: 500;
      font-size: 1.3em;
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #DDD;
    }
    li{
      a{
        cursor: pointer;
        display: block;
        padding: 10px;
        i{
          display: inline-block;
          width: 15%;
        }
      }
      &:hover{
        a{
          display: block;
          width: 100%;
          color: $red;
        }
      }
      &.active{
        a{
          color: $maincolor;
        }
      }
    }
  }
}

.nav-toggle-button, .nav-back-button{
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 0px;
  margin: 10px 10px 0 0;
  
  display: none;
  .middle{
    width: 60%;
    height: 3px;
    position: absolute;
    background-color: $maincolor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all $time ease-in-out $delay;     
  }    
  .top-left{
    width: 30%;
    height: 3px;
    position: absolute;
    background-color: $maincolor;
    top: 30%;
    left: 50%;
    transform: translate(-100%,-50%);
    transition: all $time ease-in-out $delay;
  }      
  .top-right{
    width: 30%;
    height: 3px;
    position: absolute;
    background-color: $maincolor;
    top: 30%;
    left: 50%;
    transform: translate(0%,-50%);
    transition: all $time ease-in-out $delay;
  }      
  .bottom-left{
    width: 30%;
    height: 3px;
    position: absolute;
    background-color: $maincolor;
    bottom: 25%;
    left: 50%;
    transform: translate(-100%,-50%);
    transition: all $time ease-in-out $delay;
  }
  .bottom-right{
    width: 30%;
    height: 3px;
    position: absolute;
    background-color: $maincolor;
    bottom: 25%;
    left: 50%;
    transform: translate(0%,-50%);
    transition: all $time ease-in-out $delay;
  }
  &.is-close{
    // animation: spin-toggle-reverse $time linear 1 forwards;
  }  
  // &.is-open{
  //   animation: spin-toggle $time linear 1 forwards; 
  //   .top-right, .bottom-right{
  //     transform: scale(0);
  //   }
  //   .top-left{      
  //     transform: translate(-104%,-0%) rotate(-45deg);
  //     top: 34%;
  //   }
  //   .bottom-left{
  //     transform: translate(-104%,0%) rotate(45deg);
  //     bottom: 34%;
  //   }
  // }
}

.nav-back-button{
  position: absolute;
  .top-right, .bottom-right{
    transform: scale(0);
  }
  .top-left{      
    transform: translate(-104%,-0%) rotate(-45deg);
    top: 34%;
  }
  .bottom-left{
    transform: translate(-104%,0%) rotate(45deg);
    bottom: 34%;
  }
}


// @keyframes spin-toggle{
//   0%{
//     transform: rotate(0deg)
//   }
//   25%{
//     transform: rotate(90deg)
//   }
//   50%{
//     transform: rotate(180deg)
//   }
//   75%{
//     transform: rotate(270deg)
//   }
//   100%{
//     transform: rotate(360deg)
//   }
// }
  
// @keyframes spin-toggle-reverse{
//   100%{
//     transform: rotate(0deg)
//   }
//   75%{
//     transform: rotate(90deg)
//   }
//   50%{
//     transform: rotate(180deg)
//   }
//   25%{
//     transform: rotate(270deg)
//   }
//   0%{
//     transform: rotate(360deg)  
//   }
// }

@media screen and (max-width: 992px){
  .mainnav{
    width: 55%;
    float: none;
    z-index: 1000;
    transform: translateX(-100%);
    &.is-open{
      transform: translateX(0%);
    }
    &.is-close{
      transform: translateX(-100%);
    }
  }
  .nav-toggle-button,.nav-back-button{
    display: block;
  }
}

@media screen and (max-width: 768px){
  .mainnav{
    width: 65%;
  }
}


@media screen and (max-width: 544px){
  .mainnav{
    width: 75%;
  }
}