.pnl{
	margin: 30px 0 60px 0;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.25);
	.row{
		padding-bottom: 20px;
	}
	label{
		text-transform: uppercase;
	}
	.pnl-title{
		width: 100%;
		background-color: #d9534f;
		color: white;
		text-align: center;
		font-size: 1.5em;
		padding: 10px;

	}
	.pnl-body{
		padding: 30px 10px 10px 10px;
	}
}