<div class="panelbody-basic col-xs-12" ng-controller="ActionsCtrl" id="task-panel" ng-show="task.showTaskPanel">
    <div class="row">
        <div class="col-xs-12">
            <form novalidate="" name="actionForm">
            <div class="sub-heading">
                <h4>{{task.title}}</h4>
            </div>
            <div class="">
                <div ng-show="task.showMainPanel">
                    <div ng-include="task.name"></div>
                </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2 col-xs-12"></div>
                    <div class="col-md-10 col-md-12">
                        <button class="btn btn-primary" ng-click="saveTask()">{{saveBtnName}}</button>
                        <button class="btn btn-danger" ng-click="cancelTask()">Cancel</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>