<div class="form-horizontal" ng-controller="AssignActionCtrl">
  <div class="form-group">
    <label class="col-md-2 col-xs-12">Assignee</label>
    <div class="col-md-10 col-xs-12" ng-class="actionForm.assignee.$invalid && actionForm.assignee.$touched ? 'has-error' : ''">
      <select name="assignee" ng-model="assignee" ng-options="user.username as user.username for user in users" class="form-control"></select>
      <div ng-show="actionForm.assignee.$invalid && actionForm.assignee.$touched" class="help-block"><p class="text-danger">Comment is required</p></div>
    </div>
  </div>
  <div ng-include="'templates/partials/action/comment-partial.html'"></div>
</div>