<div class="form-horizontal" ng-controller="ChangeStatusActionCtrl">
  <div class="form-group">
    <label class="col col--1-of-6 col--m-1-of-4 col--s-1-of-4 control-label">New Status</label>
    <div class="col col--5-of-6 col--m-3-of-4 col--s-3-of-4" ng-class="actionForm.newStatus.$invalid && actionForm.newStatus.$touched ? 'has-error' : ''">
      <select name="newStatus" ng-model="newStatus" ng-options="status as status for status in allowedStatus" class="form-control"></select>
      <div ng-show="actionForm.newStatus.$invalid && actionForm.newStatus.$touched" class="help-block"><p class="text-danger">Comment is required</p></div>
    </div>
  </div>
  <div ng-include="'templates/partials/action/comment-partial.html'"></div>
</div>