<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 col-xs-12">Comment<span>*</span></label>
    <div class="col-md-10 col-xs-12" ng-class="actionForm.comment.$invalid && actionForm.comment.$touched ? 'has-error' : ''">
    	<textarea class="form-control" name="comment" ng-model="task.comment" rows="4" required></textarea>
    	<div ng-show="actionForm.comment.$invalid && actionForm.comment.$touched" class="help-block"><p class="text-danger">Comment is required</p></div>
    </div>
  </div>
</div>