<span ng-controller="ButtonGroupCtrl">
	<button ng-if="buttongroup.showAssign" ng-click="buttongroup.assign()" title="Change assignee" type="button" class="btn btn-primary">
		<i class="fa fa-user-plus"></i>
	</button>
	<button ng-if="buttongroup.showComment" ng-click="buttongroup.comment()" title="Comment" type="button" class="btn btn-primary">
		<i class="fa fa-comment"></i>
	</button>
	<button ng-if="buttongroup.showClose" ng-click="buttongroup.close()" title="Close ticket" type="button" class="btn btn-primary">
		<i class="fa fa-exclamation-circle"></i>
	</button>
	<button ng-if="buttongroup.showReopen" ng-click="buttongroup.reopen()" title="Reopen ticket" type="button" class="btn btn-primary">
		<i class="fa fa-repeat"></i>
	</button>
	<button ng-if="buttongroup.showAwaitingUsersResponse" ng-click="buttongroup.awaitingusersresponse()" title="Awaiting user response" type="button" class="btn btn-primary">
		<i class="fa fa-hourglass-end"></i>
	</button>
	<button ng-if="buttongroup.showAcknowledge" ng-click="buttongroup.acknowledge()" title="Acknowledge" type="button" class="btn btn-primary">
		<i class="fa fa-tag"></i>
	</button>
	<button ng-if="buttongroup.showchangeStatus" ng-click="buttongroup.changeStatus()" title="Change status" type="button" class="btn btn-primary">
		<i class="fa fa-exchange"></i>
	</button>
</span>