<div class="wrapper">
    <h2 class="page-heading">{{changePassword.title}}</h2>
    <form novalidate="" name="changePasswordForm">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*New password :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group" class="form-group" ng-class="changePasswordForm.password1.$invalid && changePasswordForm.password1.$touched ? 'has-error' : ''">
                    <input name="password1" ng-model="changePassword.password" class="form-control" placeholder="Enter new password" type="password" required/>
                    <div ng-show="changePasswordForm.password1.$invalid && changePasswordForm.password1.$touched" class="help-block">
                        <p class="text-danger">Password is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*Retype password :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group" class="form-group" ng-class="changePasswordForm.password2.$invalid && changePasswordForm.password2.$touched ? 'has-error' : ''">
                    <input name="password2" ng-model="changePassword.password2" class="form-control" placeholder="Retype new password" type="password" required/>
                    <div ng-show="changePasswordForm.password2.$invalid && changePasswordForm.password2.$touched" class="help-block">
                        <p class="text-danger">Retyped Password is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-panel">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="changePassword.save(changePasswordForm)">{{changePassword.saveTitle}}</button>
                    <a class="btn btn-danger" href="{{changePassword.cancelHref}}">Cancel</a>
                    <!-- <a class="btn btn-danger" href="#/admin/user-management">Cancel</a> -->
                </div>
            </div>
        </div>
    </form>
</div>