<nav class="mainnav" ng-class="navClass" ng-if="isAuthenticated()" ng-click="navClick($event)">
  <div class="nav-back-button" ng-class="navClass" ng-click="toggleNav($event)" ng-if="isAuthenticated()">
    <span class="top-left"></span>
    <span class="top-right"></span>
    <span class="middle"></span>
    <span class="bottom-left"></span>
    <span class="bottom-right"></span>
  </div>
  <div class="site-logo pl60"><a ui-sref="ticket.my-tickets" title="HelpDesk">HelpDesk</a></div>
      <section class="quick-link" ng-if="isAdmin">
        <div class="heading">Quick Link</div>
        <ul>
          <li><a ui-sref="dashboard"><i class="fa fa-lg fa-ticket"></i> Dashboard</a></li>
<!--           <li>
            <a ui-sref="ticket.my-tickets">
              <span class="col-md-10 no-padding">
                <i class="fa fa-lg fa-dashboard"></i> New Tickets                
              </span>
              <span class="col-md-2 vcenter badge badge-danger">2</span>
            </a>
          </li> -->
        </ul>
    </section>
    <section class="utility">
        <div class="heading">Utility</div>
        <ul>
          <li><a ui-sref="ticket.my-tickets"><i class="fa fa-lg fa-dashboard"></i> Tickets Center</a></li>
          <li><a href="#/ticket/new"><i class="fa fa-lg fa-ticket"></i> Create Ticket</a></li>
        </ul>
    </section>
    <section class="profile-menu">
    <div class="heading">Profile</div>
      <ul>
          <li>
          <a ng-click="getProfile()"><i class="fa fa-user"></i> {{getUser().username}}</a>
          </li>
          <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Log Off</a></li>
      </ul>
    </section>
    <section class="admin-menu" ng-if="isAdmin">
    <div class="heading">Admin</div>
      <ul>
        <li><a href="#/admin/user-management"><i class="fa fa-users"></i> User Management</a></li>
      </ul>
    </section>
  </nav>