<h2 class="page-header">Ticket List </h2>
<br/>
<div class="clearfix">
    <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="{'active': active === 'my'}"><a ui-sref="ticket.my-tickets">My Tickets</a></li>
        <li ng-if="isSupport" ng-class="{'active': active === 'tome'}" role="presentation"><a ui-sref="ticket.to-me-tickets">Assigned To Me</a></li>
        <li ng-if="isSupport" ng-class="{'active': active === 'all'}" role="presentation"><a ui-sref="ticket.all-tickets">All Tickets</a></li>
    </ul>
</div>
<div ui-view></div>