<div class="container">   
    <div>
        <h2 class="page-header clearfix"> Ticket Details
            <div class="pull-right">
                <button ng-if="showEdit" type="button" ng-click="edit()" class="btn btn-default">
                    <i class="fa fa-pencil"></i>
                </button>
                <span ng-include="'templates/partials/button-group-partial.html'"></span>
            </div>  
        </h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    Ticket Id : {{ticket.id}} - {{ticket.title}}
                </h4>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td><label>Title :</label></td>
                        <td colspan="3">{{ticket.title}}</td>
                    </tr>
                    <tr>
                        <td><label>Description :</label></td>
                        <td colspan="3"><span ng-bind-html="ticket.description"></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-3"><label>ID :</label></td>
                        <td class="col-md-3">{{ticket.id}}</td>
                        <td class="col-md-3"><label>Status :</label></td>
                        <td class="col-md-3">{{ticket.status}}</td>
                    </tr>
                    <tr>
                        <td><label>Type :</label></td>
                        <td>{{ticket.type}}</td>
                        <td><label>Created By: </label></td>
                        <td>{{ticket.createdBy}}</td>
                    </tr>
                    <tr>
                        <td><label>Assignee :</label></td>
                        <td>{{ticket.assignee}}</td>
                        <td><label>Created Date: </label></td>
                        <td>{{ticket.createdDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="showCommentPanel" id="comment-panel" class="panel panel-default">
            <div class="panel-heading">
                <h4>Add new comment</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" ng-model="ticket.newComment" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="addComment()">Add</button>
                    <button class="btn btn-danger" ng-click="hideCommentPanelFn()">Cancel</button>
                </div>
            </div>
        </div>
        <div ng-include="'templates/partials/action/action-partial.html'"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Comments</h4>
            </div>
            <div class="panel-body" ng-repeat="comment in ticket.comments | reverse track by $index ">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="/images/avatar.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->
                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{comment.commentBy}}</strong> <span class="text-muted">commented on {{renderDate(comment.commentDate)}}</span>
                                <button ng-if="ticket.currentUser === comment.commentBy && comment.isDeletable" type="button" class="close" title="delete comment" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="deleteComment(ticket,comment)">&times;</span></button>
                            </div>
                            <div class="panel-body">
                                <strong>{{comment.commentMessage.title}}</strong>
                                <div ng-repeat="message in comment.commentMessage.message track by $index">{{message}} <br /></div>
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
            </div>
        </div>
    </div>
</div>