<div class="container">
    <!--<h2 class="page-header">Login </h2>-->
    <div class="login">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Please sign in</h4>
            </div>
            <div class="panel-body">
                <div ng-show="error" class="alert alert-danger">{{message}}</div>
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input name="username" class="form-control" placeholder="Enter username" ng-model="username" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input name="password" class="form-control" placeholder="Enter password" ng-model="password" type="password"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox-inline">
                                <input type="checkbox" ng-model="remember">Remember me
                            </div>
                        </div>
                    </div>
                    <div class="button-panel login">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-lg btn-success" ng-click="login()">Login</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-lg btn-danger" ng-click="googleLogin()">Login using Google+</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#">Forgot password</a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#users/register">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>