<div class="container">    
    <h2 class="page-header">User details </h2>
    <form ng-init="init()">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*First Name :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="user.firstname" class="form-control" placeholder="Enter first name" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*Last Name :</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="user.lastname" class="form-control" placeholder="Enter last name" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*Emaid ID:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="user.email" class="form-control" placeholder="Enter email id" type="email"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>*Username:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input ng-model="user.username" disabled="disabled" class="form-control" placeholder="Enter username" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-panel">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-success" ng-click="update()">Update</button>
                    <a class="btn btn-danger" ui-sref="ticket.my-tickets">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
    