<div ng-show="error" class="error-alert">{{message}}</div>
<input name="username" placeholder="Username" ng-model="username" type="text"/>
<input name="password" placeholder="Password" ng-model="password" type="password"/>
<div class="remember-me">
    <input type="checkbox" ng-model="remember">Remember me
</div>
<button class="success" ng-click="login()">Login</button>
<button class="danger" ng-click="googleLogin()">Login using Google+</button>
<div class="links">
    <a href="#">Forgot password</a>
</div>