<div class="">   
    <div>
        <h2 class="page-heading clearfix">
            <div class="col-md-7 col-xs-12 text-md-left">
                <a ui-sref="ticket.my-tickets" class="btn btn-danger"><i class="fa fa-arrow-left" title="back to ticket center"></i></a>
                &nbsp;
                <span>Ticket ID - {{::ticket.id}}</span>
                <span class="lbl lbl-{{statusClass}}">{{::ticket.status}}</span>
                <span class="lbl lbl-{{priorityClass}}">{{::ticket.priority}} Priority</span>                
            </div>
            <div class="col-md-5 col-xs-12 text-md-right">
                <button ng-if="showEdit" type="button" title="Edit" ng-click="edit()" class="btn btn-primary">
                    <i class="fa fa-pencil"></i>
                </button>
                <span ng-include="'templates/partials/button-group-partial.html'"></span>
            </div>  
        </h2>
        <div class="row">
            <label class="col-md-2 col-xs-12">Title :</label>
            <span class="col-md-10 col-xs-12">{{ticket.title}}</span>
        </div>
        <div class="row">
            <label class="col-md-2 col-xs-12">Description :</label>
            <span class="col-md-10 col-xs-12">{{ticket.description}}</span>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="col-xs-12 panelbody-basic ticket-details">
                        <div class="row">
                            <label class="col-md-4 col-xs-6">ID :</label>
                            <span class="col-md-8 col-xs-6" >{{::ticket.id}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Type :</label>
                            <span class="col-md-8 col-xs-6">{{ticket.type}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Status :</label>
                            <span class="col-md-8 col-xs-6">{{ticket.status}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Priority :</label>
                            <span class="col-md-8 col-xs-6">{{ticket.priority}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Assigned To :</label>
                            <span class="col-md-8 col-xs-6">{{ticket.assignee}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Created By :</label>
                            <span class="col-md-8 col-xs-6">{{::ticket.createdBy}}</span>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-xs-6">Created Date :</label>
                            <span class="col-md-8 col-xs-6">{{::ticket.createdDate}}</span>
                        </div>
                </div>
                <div ng-include="'templates/partials/action/action-partial.html'"></div>
            </div>
            <div class="col-md-7 col-xs-12">
                <div class="panelbody-basic">
                    <div class="pnl-title">Activity Logs</div>
                    <div class="row" ng-controller="DeleteCommentCtrl">
                        <div class="col-xs-12">
                            <ul class="list-group recent-comments view-comments">
                                <li ng-repeat="comment in ticket.comments | reverse track by $index" class="list-group-item clearfix" ng-class="{'comment-success': comment.isDeletable, 'comment-danger' : !comment.isDeletable, 'comment-info': comment.isVisible}">
                                    <div class="row">
                                        <div class="avatar center col-xs-2">
                                          <img src="/images/avatar.png" alt="avatar">  
                                        </div>
                                        <div class="col-md-10 col-xs-12">                                        
                                            <p>
                                                <span class="name strong sub-heading rm">
                                                    {{comment.commentBy}}
                                                    <button ng-if="ticket.currentUser === comment.commentBy && comment.isDeletable" type="button" class="close pull-right" title="delete comment" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true" ng-click="deleteComment(ticket,comment)">&times;</span>
                                                    </button>
                                                </span>
                                                <p>
                                                    <strong class="text-muted">{{comment.commentMessage.title}}</strong>
                                                    <div ng-repeat="message in comment.commentMessage.message track by $index">
                                                        {{message}}    
                                                        <br />
                                                    </div>
                                                </p>
                                            </p>
                                        </div>
                                        <span class="col-md-2 col-xs-12 center date text-muted small">{{renderDate(comment.commentDate)}}</span>                                    
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>