<div class="">   
    <div>
        <h2 class="page-heading clearfix"> Ticket ID - {{::ticket.id}}
            <span class="lbl lbl-{{statusClass}}">{{::ticket.status}}</span>
            <span class="lbl lbl-{{priorityClass}}">{{::ticket.priority}} Priority</span>
            <div class="pull-right">
                <button ng-if="showEdit" type="button" ng-click="edit()" class="btn btn-primary">
                    <i class="fa fa-pencil"></i>
                </button>
                <span ng-include="'templates/partials/button-group-partial.html'"></span>
            </div>  
        </h2>
        <div class="trow">
            <label class="col col--1-of-8">Title :</label>
            <span class="col col--7-of-8">{{ticket.title}}</span>
        </div>
        <div class="trow">
            <label class="col col--1-of-8">Description :</label>
            <span class="col col--7-of-8">{{ticket.description}}</span>
        </div>
        <div class="trow">
            <div class="col col--3-of-8">
                <div class="panelbody-basic">
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">ID :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4" >{{ticket.id}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Type :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.type}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Status :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.status}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Priority :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.priority}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Assigned To :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.assignee}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Created By :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.createdBy}}</span>
                        </div>
                        <div class="trow">
                            <label class="col col--3-of-8 col--m-1-of-4 col--s-1-of-4">Created Date :</label>
                            <span class="col col--5-of-8 col--m-3-of-4 col--s-3-of-4">{{ticket.createdDate}}</span>
                        </div>
                </div>
            </div>
            <div class="col col--5-of-8">
                <div class="panelbody-basic">
                    <div class="trow">
                        <div class="col col--6-of-6 comments-panel">
                            <div>
                                <div class="sub-heading">
                                    <h4>Comments</h4>
                                </div>
                                <div class="" ng-repeat="comment in ticket.comments | reverse track by $index ">
                                    <div class="trow">
                                        <div class="col-sm-2">
                                            <div class="thumbnail">
                                                <img class="img-responsive user-photo" src="/images/avatar.png">
                                            </div><!-- /thumbnail -->
                                        </div><!-- /col-sm-1 -->
                                        <div class="col-sm-10">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>{{comment.commentBy}}</strong> <span class="text-muted">commented on {{renderDate(comment.commentDate)}}</span>
                                                    <button ng-if="ticket.currentUser === comment.commentBy && comment.isDeletable" type="button" class="close" title="delete comment" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="deleteComment(ticket,comment)">&times;</span></button>
                                                </div>
                                                <div class="panel-body">
                                                    <strong>{{comment.commentMessage.title}}</strong>
                                                    <div ng-repeat="message in comment.commentMessage.message track by $index">{{message}} <br /></div>
                                                </div><!-- /panel-body -->
                                            </div><!-- /panel panel-default -->
                                        </div><!-- /col-sm-5 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'templates/partials/action/action-partial.html'"></div>
            </div>
        </div>


<!--         <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td><label>Title :</label></td>
                        <td colspan="3">{{::ticket.title}}</td>
                    </tr>
                    <tr>
                        <td><label>Description :</label></td>
                        <td colspan="3"><span ng-bind-html="ticket.description"></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-3"><label>ID :</label></td>
                        <td class="col-md-3">{{::ticket.id}}</td>
                        <td class="col-md-3"><label>Status :</label></td>
                        <td class="col-md-3">{{::ticket.status}}</td>
                    </tr>
                    <tr>
                        <td><label>Type :</label></td>
                        <td>{{::ticket.type}}</td>
                        <td><label>Created By: </label></td>
                        <td>{{::ticket.createdBy}}</td>
                    </tr>
                    <tr>
                        <td><label>Assignee :</label></td>
                        <td>{{::ticket.assignee}}</td>
                        <td><label>Created Date: </label></td>
                        <td>{{::ticket.createdDate}}</td>
                    </tr>
                </table>
            </div>
        </div> -->

<!--         <div ng-show="showCommentPanel" id="comment-panel" class="panel panel-default">
            <div class="panel-heading">
                <h4>Add new comment</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" ng-model="ticket.newComment" trows="4"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="addComment()">Add</button>
                    <button class="btn btn-danger" ng-click="hideCommentPanelFn()">Cancel</button>
                </div>
            </div>
        </div> -->
    </div>
</div>